@media(max-width: 767px){
    .header{
        width: 300px;
    }
    .main-left{
        width: 100px;
    }
    .main-right{
        width: 75px;
    }
    .main-top{
        width: 125px;
    }
    .main-center{
        width: 125px;
    }
    .main-under{
        width: 200px;
    }
    .footer{
        width: 300px;
    }

}
@media(max-width: 479px){
   
    .header{
        width: 150px;
    }
    .main-left{
        width: 150px;
        height: 100px;
        clear: both;
    }
    .contents{
        clear: both;
    }
    .main-right{
        width: 150px;
        height: 100px;
        clear: both;
    }
    .contents-left{
        clear: both;
    }
    .main-top{
        width: 150px;
    }
    .main-center{
        width: 150px;
    }
    .main-under{
        width: 150px;
    }
    .footer{
        width: 150px;
    }
    
      
  
      }
